body{
    text-align: center;
}
.btn{
  border: solid 3px black;
  wedth: 100px;
  height: 100px;
  display: inline;
  font-size: 30px;
  color: ##66B3FF;
  background-color: #9fffff;
}
h1{
  font-size: 60px;
  font-family: 標楷體;
}
